/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        Main {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE    &kp Q           &kp W           &kp F             &kp P               &kp B    &kp J  &kp L                &kp U              &kp Y            &trans           &kp HOME
&kp TAB       &mt LEFT_WIN A  &mt LEFT_ALT R  &mt LEFT_SHIFT S  &mt LEFT_CONTROL T  &kp G    &kp M  &mt RIGHT_CONTROL N  &mt RIGHT_SHIFT E  &mt RIGHT_ALT I  &mt RIGHT_WIN O  &kp END
&kp CAPSLOCK  &kp Z           &kp X           &kp C             &kp D               &kp V    &kp K  &kp H                &trans             &trans           &trans           &trans
                                              &kp BACKSPACE     &kp SPACE           &mo 1    &mo 1  &kp ENTER            &kp DELETE
            >;
        };

        Numbols {
            bindings = <
&trans     &trans            &kp BACKSLASH  &kp LEFT_PARENTHESIS         &kp RIGHT_PARENTHESIS  &trans    &trans  &kp N7  &kp N8              &kp N9  &trans  &trans
&kp GRAVE  &kp SINGLE_QUOTE  &kp SEMICOLON  &mt LEFT_SHIFT LEFT_BRACKET  &kp RIGHT_BRACKET      &trans    &trans  &kp N4  &mt RIGHT_SHIFT N5  &kp N6  &trans  &trans
&trans     &trans            &kp SLASH      &kp COMMA                    &kp PERIOD             &trans    &kp N0  &kp N1  &kp N2              &kp N3  &trans  &trans
                                            &trans                       &trans                 &trans    &trans  &trans  &trans
            >;
        };
    };
};
